  ../../../.dockerenv
        ../../../alx-low_level_programming/
        ../../../alx-pre_course/
        ../../../alx-system_engineering-devops/
        ../../../alx-zero_day/
        ../../../bin
        ../../../dev/
        ../../../etc/
        ../../../lib
        ../../../lib32
        ../../../lib64
        ../../../libx32
        ../../../opt/
        ../../../proc/
        ../../zero_day/
        ../../../run/
        ../../../sbin
        ../../../sys/
        ../../../tmp/
        ../../../usr/
        ../../../var/
